@import "bootstrap/scss/bootstrap";
@import url("https://fonts.googleapis.com/css2?family=Italianno&family=Kaushan+Script&family=Pacifico&family=Poetsen+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Satisfy&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: url("../img/background.png");
}

.Main {
  flex: 1;
  padding-top: 50px;
  padding-bottom: 60px;
  z-index: 1;
}

.PageTitle {
  font-family: "Satisfy", cursive;
  font-size: 3em;
  display: flex;
  justify-content: center;
  margin-top: 1em;
}

.CardGroup {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 2em;
}

.Card__Container {
  margin: 10px;
}

.Card__Body {
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  border-radius: 5px;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue",
    "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  width: 280px;
  height: 520px;
  background-color: white;
}

.Card__Body:hover {
  box-shadow: 0px 2px 4px -1px rgba(219, 211, 211, 0.3),
    0px 4px 5px 0px rgba(3, 3, 3, 0.34),
    3px 1px 10px 0px rgba(10, 185, 10, 0.769);
}

.Card__Image__Wrapper {
  position: relative;
  height: 350px;
}

.Card__Image img {
  width: 100%;
  height: 350px;
  border-radius: 5px 5px 0 0;
}

.Card__Content {
  display: flex;
  padding: 10px;
  flex-direction: column;
  height: auto;
}

.Card__Title {
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 4px;
}

.Card__Description {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  margin-bottom: 8px;
}

.Card__Price {
  font-size: 18px;
  margin: 10px;
  font-weight: bold;
  align-self: center;
  position: relative;
}

.Card__Flag {
  height: 4px;
  background: linear-gradient(
    to right,
    #980000,
    #ea9898,
    #ffffff,
    #8fd894,
    #006900
  );
}

.Collapsible {
  border-bottom: 1px solid #ccc;
  border-radius: 10px;
  margin: 20px;
  padding: 10px;
}

.SectionHeader {
  display: flex;
  justify-content: space-between;
  margin: 0px 20px;
}

.SectionHeader__Title {
  font-size: 2em;
  font-family: "Satisfy", cursive;
}

.Collapsible .CardGroup.hidden,
.Collapsible .ExpandedIcon.hidden,
.Collapsible .CollapsedIcon.hidden {
  display: none;
}

.IconButton {
  border: none;
  background-color: transparent;
}

.ExpandedIcon,
.CollapsedIcon {
  height: 2em;
}

.Navbar,
.Footer {
  background-color: white;
  margin-top: auto;
  z-index: 2;
  width: 100%;
}

.Navbar {
  position: fixed;
  top: 0;
  left: 0;
  height: 7%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.Navbar__Logo {
  width: 33%;
  height: 100%;
  background-color: #009246;
  display: flex;
  align-items: center;
  img {
    padding-left: 20px;
  }
}

.Navbar__Items {
  width: 33%;
  height: 100%;
  background-color: #ce2b37;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 20px;
  flex-direction: row;
  list-style: none;
}

.Navbar__Items a {
  margin-left: 15px;
  text-decoration: none;
  color: white;
  font-size: 1em;
}

.Navbar__Items__ToggleButton {
  display: none;
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.259);
  display: none;
  justify-content: flex-end;
  z-index: 1000;
  transition: transform 0.3s ease-out;
}

.Overlay.open {
  display: flex;
  transform: translateY(0);
}

.OverlayMenu {
  text-align: left;
  background-color: white;
  width: 100%;
  height: 27%;
  align-items: center;
  padding: 0 20px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

.OverlayMenu a,
.OverlayMenu__Title {
  display: block;
  color: black;
  font-size: 1.2em;
  text-decoration: none;
  margin: 10px 0;
}

.OverlayMenu a:hover {
  border-bottom: 1px solid gray;
}

.OverlayMenu__Title {
  border-bottom: 2px solid gray;
  padding-bottom: 9px;
}

.Footer {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.1);
}

.GroupName {
  width: 33%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.GroupName__Participants {
  width: 33%;
  display: flex;
  align-items: center;
  justify-content: center;
  a {
    padding-left: 10px;
    text-decoration: none;
  }
}

.SocialMediaContainer {
  width: 33%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  z-index: 1001;
  a {
    margin-left: 10px;
  }
}

.SocialMedia__Twitter,
.SocialMedia__Facebook,
.SocialMedia__Instagram {
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 1px solid gray;
  svg {
    fill: #888;
    height: 1rem;
  }
}

.SocialMedia__Twitter:hover {
  border: none;
  background: linear-gradient(45deg, #4b5863, #15202b);
  svg {
    fill: #fff;
  }
}

.SocialMedia__Facebook:hover {
  border: none;
  background: linear-gradient(45deg, #134ac0, #316ff6, #78a3ff);
  svg {
    fill: #fff;
  }
}

.SocialMedia__Instagram:hover {
  border: none;
  background: #f09433;
  background: -moz-linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  background: -webkit-linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  background: linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );

  svg {
    fill: #fff;
  }
}

@media screen and (max-width: 612px) {
  .CardGroup {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 867px) {
  .Footer {
    display: flex;
    flex-direction: column;
    height: 10.3%;
    align-items: center;
    justify-content: center;
  }
  div {
    margin: 1px;
  }
  .GroupName__Participants,
  .GroupName,
  .GroupName__Participants {
    width: 100%;
  }
}

@media (max-width: 910px) {
  .Navbar__Items li {
    display: none;
  }
  .Navbar__Items__ToggleButton {
    display: block;
    background: none;
    border: none;
    cursor: pointer;
  }
  .Navbar__Logo img {
    padding-left: 5px;
  }
  .Navbar__Items {
    padding-right: 10px;
  }
}
